.cont{
    width: 420px;
    height: 200px;
    margin-left: 600px;
    margin-top: 200px;
    text-align: center;
    background-color: cornflowerblue;
    border: 5px solid black;
    border-radius: 15px;
}
.heading{
    color: white;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 15px;
}
.dollar{
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10PX;
    font-size: 15px;
}
.rupee{
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
}
.d{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.r{
    color: white;
    font-size: 20px;
    font-weight: bold;
}